body {
  background-color: #f9f8fe;
}

.App .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/107/201/original/read-relax.png?1702575027);
  background-size: cover;
  background-position: center;
  height: 20vh; 
}

.App h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 00;
  padding: 50px;
  } 

.App main {
  margin: 0 auto;
  max-width: 960px;
}

.App-footer {
  color: #f9f8fe;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/107/191/original/open-book.png?1702573307);
  text-align: center;
  margin: 30px 0;
  background-size: cover;
  background-position: center;
  height: 20vh; 
  padding: 50px;
}

.App-footer a {
  text-decoration: none;
  color: #f69b9c;
}

.App-footer a:hover {
  font-weight: bold;
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
}
